<% include partials/header.ejs %>

    <main>
      <p>Here is our amazings lists of animals that we have at Golden State Adoption, we have added a description of each animal so you can get to know them.</p> 
      
      <div id="animalResult">

    </div>
    <div id="cartContainer">
        
    </div>
    </main>
 
  
<% include partials/footer.ejs %>