<% include partials/header.ejs %>

    <main>       
         
      <p>Here is our amazings lists of animals that we have at Golden State Adoption, we have added a description of each animal so you can get to know them.</p> 
      
      
      <select>
        <option value="cat">Cat</option>
        <option value="horse">Horse</option>
        <option value="guinea-pig">Guinea Pig</option>
        <option value="rabbit">Rabbit</option>
        <option value="alligator">Alligator</option>
        <option value="otter">Otter</option>
        </div>
      </select>
     
      <select>
        <option value="25" >25.00</option>
        <option value="50">50.00</option>
        <option value="75">75.00</option>
        <option value="100">100.00</option>
        <option value="200">200.00</option>
        <option value="5000">5000.00</option>
         <option value="9001">9001.00</option>
        </div>
      </select>

     <select>
        <option value="Union-City" >Union City</option>
        <option value="Santa Clara">Santa Clara</option>
        <option value="Los-Angelas">Los Angelas</option>
        <option value="Oakland">Oakland</option>
        <option value="Santa-Clara">Santa Clara</option>
        <option value="San-Jose">San Jose</option>
        <option value="Portland">Portland</option>
        <option value="Menlo-Park">Menlo Park</option>
        <option value="Atherton">Atherton</option>  
       <option value="Orange-County">Orange County</option>
       <option value="Monterey-Bay">Monterey Bay</option>
        </div>
      </select>
            
      
      
      <div id="animalResult">

    </div>
    <div id="cartContainer">
    </div>
     
    </main>
  
<% include partials/footer.ejs %>