<% include partials/header.ejs %>


  <main>
      <h2>Cart</h2>

        <form method="GET" action="/">
          <input type="submit" class ="button" value="Home">
        </form>
    
      <form method="GET" action="/login">
          <input type="submit" class = "button" value="Admin Login">
        </form> 
     
      
    
    </main>
    




<% include partials/footer.ejs %>