<% include partials/header.ejs %>

 <form method="get" action="/clearSession">
        <input type="submit" class="button" value="Cancel">
      </form>

 <% if(typeof emptyCart != "undefined" && emptyCart) { %>
              <p>
              Your Cart is Empty. Please Hit Cancel
              </p>
            <% } %>


 <% if(typeof emptyCart != "undefined" && !emptyCart) { %>

   <form method="get" action="/checkout">
        <input type="submit" class="button" value="Checkout">
      </form>

<div id="checkoutPets">

<%   data.forEach(function(row) { %>}

  <div>
    <
</div>
  <span id="checkoutName"><%=row.pet_name%></span>
  <img src="<%=row.image%>" alt="<%=row.pet_name%>">

<% }) %>
  </div>
 <p>
   Total Adoption Cost: <%= total %>
</p>

            <% } %>


<% include partials/footer.ejs %>