 <% include partials/header.ejs %>

  <% if(typeof upSuccess != "undefined" && insertSuccess) { %>
    <p>
      Record Successfully Updated
    </p>
  <% } %>
  <% if(typeof upSuccess != "undefined" && !insertSuccess) { %>
    <p>
      Record failed to update. Check your input and try again.
    </p>
  <% } %>

 <form method="POST" action="/logout">
  <input type="submit" value="Return To Admin Page">
 </form>

 <% include partials/footer.ejs %>